<div class="main-gird-posts">
  <div class="main-post">
    <a href="#" class="post-link">
      <article>
        <div class="main-post-detail">
          <h2 class="main-post-title">iPhone 14 Pro Max</h2>
          <div class="main-post-price">1.503,14 €</div>
        </div>
        <div class="main-post-thumbnail">
          <img src="/home/img/iphone-14-pro-max-purple-1.jpg" alt="" />
        </div>
      </article>
    </a>
  </div>
</div>
