<aside>
    <div class="container sidebar-padding">
      <h2 class="sidebar-title">Categories</h2>
      <ul class="sidebar-ul">
        <li class="sidebar-li">
          <a href="#" class="sidebar-a">
            <img src="/home/img/home.svg" class="sidebar-img" alt="" />
            Properties
          </a>
        </li>
        <li class="sidebar-li">
          <a href="#" class="sidebar-a">
            <img src="/home/img/car.svg" class="sidebar-img" alt="" />
            Automobile
          </a>
        </li>
        <li class="sidebar-li">
          <a href="#" class="sidebar-a">
            <img src="/home/img/mobile.svg" class="sidebar-img" alt="" />
            Tech devices
          </a>
        </li>
        <li class="sidebar-li">
          <a href="#" class="sidebar-a">
            <img src="/home/img/home.svg" class="sidebar-img" alt="" />
            Kitchen and appliances 
          </a>
        </li>
        <li class="sidebar-li">
          <a href="#" class="sidebar-a">
            <img src="/home/img/paint.svg" class="sidebar-img" alt="" />
            Services
          </a>
        </li>
        <li class="sidebar-li">
          <a href="#" class="sidebar-a">
            <img src="/home/img/mobile.svg" class="sidebar-img" alt="" />
            Personal devices
          </a>
        </li>
        <li class="sidebar-li">
          <a href="#" class="sidebar-a">
            <img src="/home/img/dice.svg" class="sidebar-img" alt="" />
            Entertainment
          </a>
        </li>
        <li class="sidebar-li">
          <a href="#" class="sidebar-a">
            <img src="/home/img/chair.svg" class="sidebar-img" alt="" />
            Industrial devices
          </a>
        </li>
        <li class="sidebar-li">
          <a href="#" class="sidebar-a">
            <img src="/home/img/suitcase.svg" class="sidebar-img" alt="" />
            Job search
          </a>
        </li>
      </ul>
    </div>
  </aside>